html {
  font-family: Arial;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 1px black;  
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(39deg, rgba(9,3,3,1) 9%, rgb(39, 40, 61) 33%, rgba(0,0,0,1) 72%);}

nav {
  position: relative;
  left: 25%;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 0px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #15171d;
  
  border-top: 2px solid white;
  border-right: 2px solid lightgrey;
  border-left: 2px solid white;
}

.link{
  color: white;
}
.PageLink {
  display: flex;
  text-decoration: none;
  background-color: #282c36;
  color: white;
  padding: 2px 6px 2px 8px;
  border-top: 2px solid white;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid white;
  border-radius: 5px;
}

.PageLink:focus {
  text-decoration: none;
  background-color:white;
  color: #282c36;
  padding: 2px 6px 2px 8px;
  border-top: 2px solid #282c36;
  border-right: 2px solid #282c36;
  border-bottom: 2px solid #282c36;
  border-left: 2px solid #282c36;
  border-radius: 5px;
  text-shadow: 0px 0px 0px;
}

header {
  position: relative;
  left: 25%;
  max-width: 50%;
  text-align: center;
  background-color: #282c36;
  flex-direction: column;
  padding: 10px 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  
  border-top: 2px solid white;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid white;
}

.FlexBoxContainer {
  position: relative;
  left: 12%;
  max-width: 75%;
  background-color: #282c34;
  display: flex;
  max-width: auto;
  flex-wrap: wrap;
  flex-flow: row;
  text-align: center;
  align-content: space-between;
  justify-content: center;
  margin-top: 20px;
  border-radius: 30px;
  
  border-top: 2px solid white;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid white;
  
}

.content{
  margin: 2vh;
  padding: 2vh 2vw;
  background-color: #15171d80;
  border-radius: 20px;
  max-width: 100%;
  
}

img {
  border-top: 2px solid white;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid white;
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
  transition: transform .5s ease-in-out;
}

img:hover {
  transform: scale(2) ;
}

.imageDesc {
  text-align: center;
  padding: 20px;
  margin: 0px;
}

@media only screen and (max-width: 1000px) {
  body{
    font-size: 2vh;
  }
  .FlexBoxContainer {
    
    flex-flow: column;
    position: none;
    left: 0;
    max-width: 100%;
  }
  .content{
    font-size: 2vh;
  }
  header{
    position: none;
    left: 0;
    max-width: 100%;
  }
  nav{
    position: none;
    left: 0;
    
    max-width: 100%;
    
  }
  img{
    max-width: auto;
    
  }
}